.terminal, .game {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}
.terminal {
    z-index: 100;
}
.game {
    overflow: hidden;
}
body {
    margin: 0;
    background: black;
}
.output{
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 300px;
    height: 600px;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid #fff;
    text-align: center;
    opacity: 0.5;
    overflow-y: auto;
    max-height: 200px;
    line-height: 20px;
}